@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Typography
# Layout
# Utilities
# Header
# Footer
# Element
	## Course
# Home page
	## Banner
	## Feature
	## Popular
	## Introduce
# Course page
# Plan page
# News page
# About page
# Support page
--------------------------------------------------------------*/

/**********# Variables***********/

:root {
	--blue: #2f43a9;
	--dark: #3d4e5b;
	--active-dark: #3a4751;
	--gray: #f0f0f0;
	--white: #ffffff;
	--black: #000000;
	--milk: #e3d8d4;
	--orange: #f3715d;
	--aqua: #5ea5d7;
}

/**********# Typography***********/

body {
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

/**********# Layout***********/

.section-inner-wrapper {
	max-width: 1220px;
	width: 86%;
	margin: auto;
}

/**********# Utilities***********/
.bg-gray {
	background-color: #f0f0f0;
	background-color: var(--gray);
}

.bg-dark {
	background-color: #3d4e5b;
	background-color: var(--dark) !important;
}

.bg-aqua {
	background-color: #5ea5d7;
}

.border-gray {
	border: 1px solid #f0f0f0;
}

.btn-dark {
	color: white;
	background-color: darkslategray;
	background-color: var(--dark);
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-orange {
	color: white;
	background-color: orangered;
	background-color: var(--orange);
}

.no-line {
	border-top: 0px;
	margin-top: 1.5rem;
}

/**********# Header***********/

.header__select-menu {
    background: #3d4e5b url(../images/select_menu_arrows.png) right 0.9em no-repeat;
    border: 1px solid rgba(0,0,0,0.1);
    width: 100px;
    margin-left: auto;
    color: #fff;
    padding: 0.4rem 0rem 0.4rem 0.4rem;
}

.tooltip-inner {
    background-color: #fff;
}

.header__search-form {
    margin: 0.5em 10px 0.5em 10px;
    border: 1px solid rgba(0,0,0,0.1);
    background: #3d4e5b url(../images/search_icon.png) right 0.6em no-repeat;
}

.header__search-form input {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 0px;
    transition: width 1s;
    margin-right: -5px;
}

.header__search-form input:focus {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 140px;
}

.header__menu-item--active {
	background-color: var(--active-dark);
}

.header__search-form-mobile {
    border: 1px solid rgba(0,0,0,0.1);
    background: #3d4e5b url(../images/search_icon.png) right 0.6em no-repeat;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.header__search-form-mobile input {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 100%;
    display: inline-block;
}

.header__search-form-mobile input:focus {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 100%;
}

.header__select-menu-mobile {
    background: #3d4e5b url(../images/select_menu_arrows.png) right 0.9em no-repeat;
    border: 1px solid rgba(0,0,0,0.1);
    width: 80%;
    margin-left: 10%;
    color: #fff;
    padding: 0.4rem 0rem 0.4rem 0.4rem;
}

.header__select-menu-mobile select {
    width: 100%;
}

@media (max-width: 992px){
    .header__nav-menu {
        display: none;
    }
}

@media (max-width: 768px){
    .header__select-menu {
        display: none;
    }

    .header__options-item.contain-input {
        display: none;
    }

    .header__options-menu {
        width: inherit;
        text-align: center;
    }

    .header__options-item {
        margin: 0.5rem 0.2rem;
    }
}
/**********# Footer***********/

footer {
	background-color: var(--dark);
	padding: 1.5rem 0rem 1rem;
}

.footer-nav {
	display: inline-flex;
	list-style: none;
}

.footer__menu-item {
	margin: 0rem 1rem;
}

@media (max-width: 768px){
    footer .text-right {
        display: none;
    }
}

/**********# Element************
***********## Course***********/

.course__content {
	padding: 1rem;
}

.course__img {
	width: 100%;
}

.cource__price-box {
	position: absolute;
	padding: 0.3rem 1.2rem;
	top: 2.5rem;
	left: 0.5rem;
}

.cource__price-box--has-price {
	background-color: cadetblue;
}

.course__price-box-corner {
	width: 0rem;
	height: 0rem;
	position: absolute;
	left: 0.1rem;
	top: 2rem;
	border: 0.3rem solid cadetblue;
	border-bottom-color: #fff;
	border-left-color: #fff;
}

.course__footer {
	padding: 1rem;
	font-size: 1.4rem;
}

.course__users {
	display: inline;
}

.course__rating {
	display: inline;
}

.course__star--on {
	color: darkgoldenrod;
}

.course__star--off {
	color: gray;
}

/**********# Element***************
***********## Page title***********/

.page-title {
	height: 70px;
	padding: 0.5rem 0rem;
	background-image: url(../images/site_bg.jpg);
	background-size: 200%;
}

/**********# Home page*********
***********## Banner***********/

.banner {
	background-image: url('../images/site_bg.jpg');
	background-position: -100px -17px;
	width: 100%;
	height: auto;
	background-size: 158%;
	transition: background-position 0.75s;
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

.banner__caption {
	align-self: center;
	padding: 0rem 4rem;
	color: white;
}

.banner__title {
	color: white;
}

.banner__start-button {
	font-size: 1.5rem;
}

/**********# Home page**********
**********## Feature***********/

.feature {
	padding: 3rem 0rem;
}

/**********# Home page**********
**********## Popular***********/

/**********# Home page***********
**********## Introduce**********/

.introduce {
	padding: 2rem 0rem;
}

.expert__avatar {
	width: 100%;
}

.expert__links {
	margin-top: 1rem;
	line-height: 3rem;
}

.expert__link {
	-webkit-box-shadow: 0 0 0.5rem rgb(0 0 0 / 17%) inset;
	padding: 0.5rem;
	font-size: 1.5rem;
	width: 2.7rem;
}

.testimonial__avatar {
	width: 100%;
}



/**********# Course page*************/

#course-page .courses {
	padding: 3rem 0rem;
}



/**********# Plan page***********/

#plan-page .main {
	padding: 3rem 0rem 14rem;
}

.plan__header {
	margin: 0;
	padding: 1rem 0rem;
}

.plan__price {
	padding: 1rem 0rem;
}

.plan__description {
	list-style: none;
	padding: 0;
	margin: 0;
}

.plan__item {
	padding: 1rem 0rem;
}

.plan__footer {
	padding: 1rem 0rem;
}

.question-and-answer__question-icon {
	position: relative;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	padding: 0.4rem;
}



/**********# About page***********/

#about-page .about-tab {
	padding: 3rem 0rem 3rem;
}

.about-tab__item {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0.5rem;
}

.about-tab__item a:hover {
    text-decoration: none;
}

.about-tab__summary {
    font-size: 12px;
}

.about-tab__description {
    font-size: 12px;
}

#about-page .about-more-info {
	padding: 3rem 0rem 3rem;
}

.about-more-info__comment-count {
    border: 1px solid rgba(0,0,0,0.2);
    padding: 5px 8px;
}



/**********# News page***********/

#news-page .main {
	padding: 3rem 0rem 3rem;
}

.recent-comment__list-item {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-size: 14px;
}

.recent-tweet__list-item {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-size: 14px;
}
